h {
    
    font-size: 5;
    
}

t{
	text-indent: 1em;
}
p1{
margin-left:100px;
}
ul.a {list-style-type: circle;}
ul.b {list-style-type: square;}
ol.c {list-style-type: upper-roman;}
ol.d {list-style-type: lower-alpha;}

.para
{
	margin-left: 14px;
	font-size: 18px;
}
.info
{
	margin-left: 20px;
}
.abc{
	font-size: 20px;
	background-color:#000000;/*black  */
	color:#FFFFFF;/*white */

}
.abc thead tr{
	border-style:hidden;
	width: 100px;
}

.abc tr td{
	font-size: 14px;
}

.text-center{
text-align: center;
}

.ml1{
margin-left: 16px;
}
.ml2{
margin-left: 14px;
}
.ml3{
margin-left: 3px;
}
.table table-responsive abc
{
background-color:"black";
}  
#f{
	text-align: center;
}
