<!DOCTYPE html>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="custom.css">
</head>

<body><center><H1>FAQ</H1></center>

<div class="col-lg-12">
	<!--<div class="para">-->
		<h4><h><mark>1.What is the purpose of setting up MyQuoteFactory.com? </mark></h></h4>
	<!--</div>-->
		<div class="ml1">
			-Our aim is to encourage manufacturing and hence we would like to help industries connect with each other to develop, source and procure best possible products and services at the most reasonable cost.<br>e.g. <br>
			Engineering Spares, Machineries, IT hardware and software, Energy,Manufacturing components or Raw materials, 
			Technological knowhow and expertise, Engineering Talent, Environmental-Health-Safety and Legal compliance to name a few 
		</div>
	<!--<br>-->
</div>

<div class="col-lg-12">
	<h4><h><mark>2.What services do you offer? </mark></h></h4>
	
	<!--<p style="margin-left: 14px">-->
	<div class="ml1">
		-We are completely independent engineering procurement and sourcing solution provider which guarantees our client's interests at all times. We make every effort to ensure we deliver what we say.<br>
	
		<!--<p style="margin-left: 14px">-->
		Services we provide are:<br>
		
		a)Manufacturer and Supplier search-<br>
		<!--<p style="margin-left: 25px">-->
		<div class="ml2">
		 	At MyQuoteFactory.com, we aim to provide more than a directory search service.We listen to your requirements and provide an appropriate cost effective solution.<br>
		 </div>
		<!--<p style="margin-left: 14px">-->
		b)Cost effective procurement-<br>
		<!--<p style="margin-left: 25px">-->
		<div class="ml2">
		 	We are more than happy to find the right cost effective product development and sourcing solutions for our clients on an ad hoc or regular basis.<br>
		 </div>
		<!--<p style="margin-left: 14px">-->
		c)Recommendation services-<br>
		<!--<p style="margin-left: 25px">-->
		 <div class="ml2">
		 	As experienced engineering professionals, we offer product identification, selection and recommendation service which satisfies your needs.<br>
		 </div>
		<!--<p style="margin-left: 14px">-->
		d)Product Development and Marketing services-<br>
		<!--<p style="margin-left: 25px">-->
		 <div class="ml2">
		  	We work with your procurement teams on specifying the Product, develop a pre-production sample, get it manufactured and delivered for use or further sales. <br>
		 </div>
	</div><br>
	For details, please give us a call and we will be more than happy to talk.
<br>
</div>
<br>
<!--<style="margin-left:100px;"> -->
<div class="col-lg-12">
<h4><h><mark>3.When and how to pay for the services provided?</mark></h></h4>

 <!--<p style="margin-left: 15px">-->
	
	<div class="ml1">
		
    	-We do not charge anything for posting your requirements.Once we receive your requirements we aim to get in touch within 72 hours to understand the details.When we are sure that we have sourced the correct cost effective solution for your requirements, we will get in touch with appropriate solutions at which point there will be an admin fees payable for the sum of £100.<br>If you are happy with the quote and select a supplier, we will then help you to progress and ensure that your requirements are fulfilled. When you place an order with the supplier, there will be a sourcing completion fee of 2% of the total order value (ex VAT) for the first time and then 1% on all subsequent repeat orders.When you place your repeat order next time, we will ensure that the selected supplier and solution are still the best available in the market.
    </div>     
<br>
<div class="col-lg-12">
	Contact us on footer:<br>
	<!--<div class="info"> -->
		<a href="{% url ' ' %}"><ins>Quote@MyQuoteFactory.com</ins></a><br>
		0044 7527 098 616<br>
		Vision Nuovo Ltd. trading as<br>
		www.MyQuoteFactory.com<br>
		74 Northfield Road, Doncaster, DN5 8AY<br>
		United Kingdom<br>
		Registered in England & Wales: 09915427<br>
</div>

<div class="ml3">

	<table class="table table-responsive abc">
	
	    <thead>
	      <tr>
	        	
	        	<th><div class="text-center">About Us</div></th>
	           	<th>Contact US</th>
	        
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	      	<!--row-sm-8 -->
	      	<td class="col-lg-8">
	        	We are a team of Engineers and Finance professionals who have hands on experience of Product and Business Development across varied geographies.Our aim is to provide a platform whereby entrepreneurs and business owners can develop, source and procure essential, regular and bespoke engineering products and services at best possible prices.One would ideally like to automate the whole sourcing process so that the platform can become a price comparison website, but it is a bit more complicated when you are procuring products ranging from chemical raw materials to a manufacturing plant. That’s where we come in.our aim is to encourage manufacturing by
			  	<ul class="a">
				  	<li>making the product development and sourcing process easier</li>
				  	<li>driving down cost of production</li>
			  	</ul> 
			  	We always aim to look at total cost of procurement and drive it down by searching all potential suppliers across the market.
			</td>
			<!--row-sm-4 -->
	        <td class="col-lg-4">
	        	Quote@MyQuoteFactory.com
	        	<ins>0044 7527 098 616</ins><br>
				Vision Nuovo Ltd. trading as <br>
				www.MyQuoteFactory.com<br>
				74 Northfield Road, Doncaster, DN5 8AY<br>
				United KingdomQ<br>
				Registered in England & Wales: 09915427
			</td>

	      </tr>
	    </tbody>
	    <!--</div>-->
	</table>
	<!--<footer>
  		<p align="center">© COPYRIGHT 2016 by VisionNuovo Ltd.. ALL RIGHTS RESERVED</p>
  	</footer>-->
  	<div id="f">
  		© COPYRIGHT 2016 by VisionNuovo Ltd.. ALL RIGHTS RESERVED
  	</div>
</div>  
	
</body>
</html>